.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

:root {
  --orange: hsl(31, 77%, 52%);
  --cyan-dark: hsl(179, 100%, 13%);
  --cyan-light: hsl(184, 100%, 22%);
  --light: hsl(0, 0%, 95%);
  --dark: hsla(0, 0%, 100%, 0.75);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 5%;
  min-height: 100vh;
}

.content-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  border-radius: 2rem;
  overflow: hidden;
}

.card {
  max-width: 308px;
  width: 100%;
  padding: 15%;
}
.card > * {
  margin-bottom: 3rem;
}
.card .image {
  max-width: 100%;
}
.card .title {
  color: var(--light);
  font-size: 4.5rem;
  font-family: "Big Shoulders Display", cursive;
}
.card .para {
  color: var(--dark);
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 0.2px;
  font-weight: 300;
}
.card .btn {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.3rem 3.3rem;
  display: inline-block;
  margin-top: auto;
  background-color: white;
  border-radius: 3rem;
  margin-top: 2rem;
  font-weight: 300;
  border: 2px solid transparent;
  transition: all 0.2s;
}
.card .btn-1 {
  color: var(--orange);
}
.card .btn-2 {
  color: var(--cyan-light);
}
.card .btn-3 {
  color: var(--cyan-dark);
}
.card .btn:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.card--1 {
  background-color: var(--orange);
}
.card--2 {
  background-color: var(--cyan-light);
}
.card--3 {
  background-color: var(--cyan-dark);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 56.2%;
  }
}
@media screen and (max-width: 500px) {
  .content-box {
    grid-template-columns: 1fr;
  }
}